.access-point {
	display: flex;
	justify-content: center;
	margin-top: 4rem;
}

.access-point a {
	display: flex;
	background: #498db5;
	width: 40vh;
	height: 30vh;
	max-width: 280px;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 2rem;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
	margin: 0 0.4rem;
	word-break: break-all;
	padding: 0 0.5em;
}

.access-point a:hover {
	background: #2e6484;
}
