.events-log {
	margin-top: 3rem;
	text-align: center;
}

.events-log li {
	justify-content: space-between;
}
.events-log .time-stamp {
	text-align: right;
}

.events-log li.text-green {
	color: green;
}

.events-log li.text-red {
	color: red;
}