.settings {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.setting-wrapper {
	width: 480px;
	margin-top: 4rem;
	min-width: 380px;
}

.table-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

